[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/valorem-core"]
	path = lib/valorem-core
	url = https://github.com/valorem-labs-inc/valorem-core.git
[submodule "lib/keep3r-network-v2"]
	path = lib/keep3r-network-v2
	url = https://github.com/keep3r-network/keep3r-network-v2.git
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink.git
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
[submodule "lib/comet"]
	path = lib/comet
	url = https://github.com/compound-finance/comet.git
